@model List<WebUser>

@{
    ViewData["Title"] = "Users Administration";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Create">Create User</a>


@{
    <table>
        <thead>
            <tr>
                <th>@nameof(WebUser.Id)</th>
                <th>@nameof(WebUser.UserName)</th>
                <th>Update</th>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; ++i)
            {
                <tr>
                    <td><a asp-controller="ProjectAndTask" asp-action="Show" asp-route-Id="@Model[i].Id">@Model[i].Id</a></td>
                    <td>@Model[i].UserName</td>
                    <td><a asp-action="Update" asp-route-Id="@Model[i].Id">update</a></td>
                    <td><a asp-action="Delete" asp-route-Id="@Model[i].Id">delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}