@model List<ProjectAndTaskViewModel>

@{
    ViewData["Title"] = "Projects and Tasks Administration";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="CreateProject">Create Project</a>
<a asp-action="CreateTask">Create Task</a>

@{
    <table>
        <thead>
            <tr>
                <th>@nameof(ProjectAndTaskViewModel.Project)</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; ++i)
            {
                <tr>
                    <td><u>@Model[i].Project.Name</u></td>
                    <td><a asp-action="UpdateProject" asp-route-Id="@Model[i].Project.Id">update</a></td>
                    <td><a asp-action="DeleteProject" asp-route-Id="@Model[i].Project.Id">delete</a></td>

                        @if (Model[i].ProjectTasks.Count > 0)
                        {
                            for (int j = 0; j < Model[i].ProjectTasks.Count; ++j)
                            {
                        <tr>
                            <td>@Model[i].ProjectTasks[j].Name</td>
                            <td><a asp-action="UpdateTask" asp-route-Id="@Model[i].ProjectTasks[j].Id">update</a></td>
                            <td><a asp-action="DeleteTask" asp-route-Id="@Model[i].ProjectTasks[j].Id">delete</a></td>
                        </tr>
                            }
                        }
                </tr>
            }
        </tbody>
    </table>
}